extends layout

block content 
    p= title
    ul 
        each bike in bikeList 
            li 
                a(href=bike.url) #{bike.name}
                | 
                a(href=bike.categories.url) #{bike.categories.name}