extends layout

block content 
    h1= `Update ${coffeeItem.name}`

    form(method="post")
        div(class="form-group")
            label(for="name") Name
            input(type="text" name="name" class="form-control" aria-describedby="name" value=`${coffeeItem.name}`)
            
        div(class="form-group")
            label(for="description") Description
            input(type="text" name="description" class="form-control" aria-describedby="description" value=`${coffeeItem.description}`)

        div(class="form-group")
            label(for="categories") Roast
            input(type="text" name="categories" class="form-control" aria-describedby="roast" value=`${coffeeItem.categories}`)

        div(class="form-group")
            label(for="brands") Brand
            select(name="brand" id="brands" aria-describedby="brand" class="form-control")
                each brand in brands
                    if brand==selectedBrand
                        option(value=brand._id selected)= brand.name
                    else 
                        option(value=brand._id)= brand.name
 

        div(class="form-group")
            label(for="price") Price
            input(type="text" name="price" class="form-control" aria-describedby="price" value=`${coffeeItem.price}`)

        div(class="form-group")
            label(for="location") Location
            input(type="text" name="location" class="form-control" aria-describedby="location" value=`${coffeeItem.location}`)

        div(class="form-group")
            label(for="stock") Stock
            input(type="text" name="stock" class="form-control" aria-describedby="stock" value=`${coffeeItem.stock}`)

        button(type="submit" class="btn btn-danger" action= coffeeItem.url + "/update") Submit