extends layout

block content
  h1 #{coffeeItem.name}
  ul(class="coffee-detail")   
    li Description: #{coffeeItem.description}
    li Roasting: #{coffeeItem.categories}
    li Brand: #{coffeeItem.brand.name}
    li Price: $#{coffeeItem.price}
    li Roasting Location: #{coffeeItem.location}
    li Stock: #{coffeeItem.stock}
  
  
  div(class="d-flex")
    a(href= coffeeItem.url + "/update") 
      button(class="update-inventory") Update

    form(method="post" action=coffeeItem.url + "/delete")
      button(type="submit" class="delete-inventory") Delete

