extends layout

block content
  h1 Coffee Detail Page
  ul(class="coffee-detail")
    li
      h2 #{coffeeItem.name}
    li Description: #{coffeeItem.description}
    li Roasting: #{coffeeItem.categories.name}
    li Brand: #{coffeeItem.brand.name}
    li Price: $#{coffeeItem.price}
    li Roasting Location: #{coffeeItem.location}
    li Stock: #{coffeeItem.stock}
  
  a(href= coffeeItem.url + "/update") 
    button(class="update-inventory") Update

  a(href= coffeeItem.url + "/delete") 
    button(class="delete-inventory") Delete

